/EjemploArrayListsPOO/nbproject/private/
/EjemploArrayListsPOO/build/
/EjemploPOOArchivosTextoSecuencial/ArchivosSecuencialPOO/nbproject/private/
/EjemploPOOArchivosTextoSecuencial/ArchivosSecuencialPOO/build/
